@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-sans: 'Inter', sans-serif;
  --color-bg: #05041F;
  --color-text: #E0E0E0;
  --color-primary: #040060;
  --color-accent: #4595FF;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}